@{
    ViewBag.Title = "ACERCA";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Este Aplicacion ha sido realizada para poder proporcionar una herramienta a distintas personas u organizaciones las cuales quieran manejar sus cursos de manera online</p>
<p>Grupo 7</p>
<p>Analisis y Diseño</p>
<p>2do Semestre 2019</p>
<p>Facultad de Ingenieria</p>
<p>Usac</p>