
@{
    ViewBag.Title = "ContenidoCurso";
}

<h2>Contenido Curso</h2>
@*Examenes*@
<div>
    <h3>Examenes</h3>

    @*Boton de creacion de examen*@
    <div class="row" style="text-align:right;">
        <a class="btn btn-primary btn-lg" href="/Curso/CrearCurso">Crear examen</a>
    </div>


</div>

@*Tareas*@
<div>
    <h3>Tareas</h3>

    @*Boton de creacion de tarea*@
    <div class="row" style="text-align:right;">
        <a class="btn btn-primary btn-lg" href="/Curso/CrearCurso">Crear tarea</a>
    </div>

</div>

@*Actividad*@
<div>
    <h3>Actividades</h3>

    @*Boton de creacion de actividad*@
    <div class="row" style="text-align:right;">
        <a class="btn btn-primary btn-lg" href="/Curso/CrearCurso">Crear actividad</a>
    </div>

</div>